.registration-container {
    background-image: url("../../../../public/media/login-background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    /* display: flex; */
}